body,
html {
	width: 100%;
	height: 100%;
	font-family: 'griffy', cursive; 
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
	font-size: 4rem;
	color: #dc3545;
	text-shadow: 2px 2px #404040;
}
h2{
	color: #47476b;
	text-shadow: 1.5px 1.5px #999999;
}
hr{
  border: 10px solid #ff794d;
  border-radius: 5px;
  border-width: 5px;
  max-width: 65px;
  opacity: 1;
  box-shadow: 2px 2px #404040;
}
.short {
	max-width: 10px;
	box-shadow: 2px 2px #404040;
}
.btn {
	font-weight: 700;
	color: #47476b;
	border-radius: 300px;
	text-transform: uppercase;
	box-shadow: 2px 2px #404040;
	text-shadow: 1px 1px #999999;

}
.btn-primary {
	background-color: #ff794d;
	border-color: #ff794d;
}
.btn-primary:hover {
background-color: #ff794d;
border-color: #ff794d;
border-width: 5px;
color: #47476b;
text-shadow: 2px 2px #999999;
box-shadow: 5px 5px #404040;
}
.btn-xl {
	padding: 1rem 2rem;
}
.hr {
  margin: auto;
}
.buffer {
	height: 6rem;
}
